[submodule "themes/hugo-tranquilpeak-theme"]
	path = themes/hugo-tranquilpeak-theme
	url = https://github.com/kakawait/hugo-tranquilpeak-theme.git
[submodule "roomrooms.github.io"]
	path = roomrooms.github.io
	url = https://github.com/RoomRooms/roomrooms.github.io.git
	branch = master
[submodule "public"]
	path = public
	url = https://github.com/RoomRooms/roomrooms.github.io.git
	branch = master
